body{
background-color: rgba(159, 210, 219, 0.452);
text-align: center;
}

.name
{
    background-color: rgb(90, 216, 248);
    
    padding-top: 20px;
    padding-bottom: 20px;
}
.name #N{
    font-size: xxx-large;
}
.pic
{   background-color: rgba(113, 217, 243, 0.664);
    
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer
{
    background-color: rgb(90, 216, 248);
    
    padding-top: 20px;
    padding-bottom: 20px;
}
.blue {
    background-color: rgba(113, 217, 243, 0.664);
    padding-top: 5px;
    padding-bottom: 5px;
}
.gray{
    background-color: rgba(150, 226, 245, 0.664);
    padding-top: 8px;
    padding-bottom: 8px;
}